.card {
  --font-color: #323232;
  --bg-color: #e0e0e0;
  width: 350px;
  height: 90%;
  border-radius: 15px;
  background-color: var(--bg-color);
  box-shadow: -9px 9px 18px hsl(0, 0%, 35%), 9px -9px 18px rgba(2, 253, 65, 0.5);
  display: flex;
  flex-direction: column;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px hsl(0, 0%, 35%);
}

.img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  background-color: rgb(10, 10, 10);
  border: solid 1px rgba(0, 0, 0, 0.5);
}
.link-cards {
  text-decoration: none;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  text-align: center;
  font-weight: 900;
  font-size: 1.3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.btn {
  display: inline-block;
  position: relative;
  border: none;
  background: #079129a9;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.14) 0%,
    rgba(255, 255, 255, 0.14) 50%,
    transparent 100%
  );
  transition: left 0.3s ease;
}
.btn:hover:before {
  left: 100%;
}
.card-descr {
  height: 120px;
  color: var(--font-color);
  margin: 20px;
  font-size: 14px;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.card .card-tech {
  display: flex;
  width: 100px;
  height: 8%;
  align-self: center;
  justify-content: center;
  color: #323232;
  margin-top: 30px;
  margin-bottom: 10px;
  gap: 2px;
}
.crad-tech-img {
  width: 35px;
  height: 35px;
}
.card-tech:hover {
  text-decoration: none;
}
.card-tech .card-descr-tech {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-left: 15px;
  background-color: #ffffff;
  border-radius: 10px;
}
.card-descr-tech:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}

.card-descr-tech {
  transition: transform 0.5s;
}
